@mixin small {
	@media screen and (min-width: $breakpoint-small) {
		@content;
	}
}

@mixin medium {
	@media screen and (min-width: $breakpoint-medium) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: $breakpoint-tablet) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: $breakpoint-desktop) {
		@content;
	}
}

@mixin large {
	@media screen and (min-width: $breakpoint-large) {
		@content;
	}
}

@mixin extra-large {
	@media screen and (min-width: $breakpoint-extra-large) {
		@content;
	}
}

@mixin common-flex {
	display: flex;
	align-items: center;
}

@mixin common-padding {
	padding-top: 16px;
	padding-bottom: 8px;

	@include medium {
		padding-top: 44px;
	}

	@include tablet {
		padding-top: 23px;
		padding-bottom: 23px;
	}
}

@mixin common-text {
	color: $color-white;
	font-family: $font-family;
	font-weight: $font-weight-regular;
	line-height: $line-height-regular;
	text-align: center;
	opacity: 0.8;

	@include medium {
		font-size: 16px;
		margin-bottom: 32px;
	}

	@include tablet {
		font-size: 17px;
		margin-bottom: 34px;
		text-align: left;
	}

	@include desktop {
		font-size: 18px;
		margin-bottom: 48px;
	}

	@include large {
		font-size: 20px;
		margin-bottom: 56px;
	}

	@include extra-large {
		font-size: 26px;
		margin-bottom: 70px;
	}
}

@mixin common-link {
	display: inline-flex;
	padding: 14px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: $border-radius;
	background: $color-red;
	color: $color-white;
	font-family: $font-family;
	font-weight: $font-weight-semibold;
	line-height: $line-height-regular;
	text-decoration: none;

	@include medium {
		font-size: 17px;
		padding: 16px 24px;
	}

	@include desktop {
		font-size: 18px;
		padding: 16px 28px;
	}

	@include extra-large {
		font-size: 26px;
		padding: 24px 40px;
	}
}
