// Advantages Styles
.advantages__container {
	display: none;
	@include tablet {
		display: block;
		padding-top: 24px;
		padding-bottom: 41px;
	}
	@include desktop {
		padding-top: 32px;
		padding-bottom: 32px;
	}
	@include large {
		padding-top: 48px;
		padding-bottom: 56px;
	}
	@include extra-large {
		padding-top: 60px;
		padding-bottom: 80px;
	}
}

.advantages__list {
	display: flex;
	gap: $gap-small;
	justify-content: center;
	@include desktop {
		gap: $gap-medium;
	}
	@include large {
		gap: $gap-large;
	}
}

.advantages__item {
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	gap: 12px;
	@include desktop {
		gap: 0;
		align-items: flex-start;
		width: calc(100% / 4);
	}
}

.advantages__icon {
	opacity: 0.9;
	@include desktop {
		margin-bottom: 20px;
		width: 64px;
		height: auto;
	}
	@include large {
		margin-bottom: 24px;
		width: 72px;
		height: auto;
	}
	@include extra-large {
		margin-bottom: 32px;
		width: 96px;
		height: auto;
	}
}

.advantages__title {
	color: rgba(255, 255, 255, 0.9);
	text-align: center;
	font-family: $font-family;
	font-size: 16px;
	font-weight: $font-weight-semibold;
	line-height: 24px;
	@include desktop {
		margin-bottom: 16px;
		line-height: 18px;
	}
	@include large {
		font-size: 18px;
		margin-bottom: 12px;
	}
	@include extra-large {
		font-size: 24px;
		line-height: 100%;
		margin-bottom: 16px;
	}
}

.advantages__description {
	display: none;
	@include desktop {
		display: block;
		color: $color-white;
		font-family: $font-family;
		font-size: 16px;
		font-weight: $font-weight-regular;
		line-height: 150%;
	}
	@include extra-large {
		font-size: 20px;
	}
}
