.channels__container {
	padding-top: 50px;
	padding-bottom: 18px;
}

// .channels__content {
// 	display: flex;
// 	flex-direction: column;
// }

.channels__title {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%; /* 33.6px */

	opacity: 0.9;
	margin-bottom: 8px;
	@include medium {
	}

	@include tablet {
	}

	@include desktop {
	}

	@include large {
	}

	@include extra-large {
	}
}

.channels__description {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 22.5px */

	opacity: 0.7;
	margin-bottom: 24px;
	@include medium {
	}

	@include tablet {
	}

	@include desktop {
	}

	@include large {
	}

	@include extra-large {
	}
}

.channels__categories {
	display: flex;
	gap: 8px;
	margin-bottom: 24px;
	// overflow: hidden;
}

.channels__category {
	display: flex;
	padding: 8px 16px 9px 16px;
	justify-content: center;
	align-items: center;

	border-radius: 5px;
	box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.8) inset;

	color: #fff;

	/* Body 1/Medium */
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%; /* 22.4px */

	&:active {
		box-shadow: 0px 0px 0px 2px #fc3232;
		background: #fc3232;
	}

	@include medium {
	}

	@include tablet {
	}

	@include desktop {
	}

	@include large {
	}

	@include extra-large {
	}
}

.channels__list {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	margin-bottom: 19px;
}

.channels__item {
	display: flex;
	padding: 11px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;

	border-radius: 5px;

	box-shadow: 0px 0px 0px 1px #c6c6c8 inset;

	background: linear-gradient(180deg, #ff6961 0%, #d70015 100%);

	&:nth-child(2),
	&:nth-child(4) {
		background: linear-gradient(180deg, #409cff 0%, #0040dd 100%);
	}

	&:nth-child(3),
	&:nth-child(5) {
		background: linear-gradient(180deg, #30db5b 0%, #248a3d 100%);
	}

	&:nth-child(6) {
		background: linear-gradient(180deg, #7d7aff 0%, #3634a3 100%);
	}
}

/* Hide the items beyond the 6th index initially */
.channels__item:nth-child(n + 7) {
	display: none;
}

.channels__image {
	display: flex;
	width: auto;
	height: auto;
	justify-content: center;
	align-items: center;
}

.channels__button {
	display: flex;

	// text-align: right;

	/* Caption 2/Regular-UP */
	color: #fff;

	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%; /* 19.6px */
	text-transform: uppercase;

	margin-left: auto;
	align-items: center;

	&::after {
		content: "";

		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		background-image: url("/src/images/channels-images/arrow-icon.svg");
	}
}
