.footer__container {
	padding-top: 48px;
	padding-bottom: 12px;

	@include medium {
		padding-top: 64px;
		padding-bottom: 14px;
	}

	@include desktop {
		padding-top: 40px;
	}

	@include extra-large {
		padding-top: 90px;
		padding-bottom: 20px;
	}
}

.footer__section-flex {
	@include tablet {
		display: flex;
		justify-content: space-between;
	}
}

.navigation__list {
	display: flex;
	flex-direction: column;

	gap: 8px;
	margin-bottom: 32px;

	@include medium {
		height: 150px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: space-between;
		margin-bottom: 30px;
	}

	@include tablet {
		flex-direction: column;
		width: 50%;
	}

	@include desktop {
		// width: calc(50% - 110px / 2);
		max-width: 156px;
		column-gap: 110px;
		height: 145px;
	}

	// @include large {
	// 	height: 120px;
	// }

	@include extra-large {
		max-width: 217px;
		height: 190px;
		width: auto;

		column-gap: 140px;
		row-gap: 10px;
	}
}

.navigation__item {
	// width: 100%;

	@include medium {
		width: calc(50% - 4px);
	}

	@include desktop {
		width: auto;
		min-width: 156px;
	}

	@include extra-large {
		width: auto;
		max-width: 217px;
	}
}

.navigation__link {
	color: #fff;

	/* Footer/Body Regular */
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 19.6px */

	@include extra-large {
		font-size: 18px;
	}
}

.contact-info {
	@include medium {
		display: flex;
		flex-direction: column;
	}

	@include extra-large {
		font-size: 18px;
	}
}

.contact-section-flex {
	@include medium {
		display: flex;
		justify-content: space-between;
		margin-bottom: 32px;
	}

	@include tablet {
		flex-direction: column;
		gap: 32px;
	}

	@include extra-large {
		gap: 50px;
		margin-bottom: 0;
	}
}

.contact-section__title {
	color: #fff;

	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%; /* 22.4px */

	margin-bottom: 18px;

	@include extra-large {
		font-size: 20px;
	}
}

.contact-list {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 16px;
	@include medium {
		margin-bottom: 0;
	}

	@include extra-large {
		gap: 10px;
	}
}

.contact-list__item {
	color: #fff;

	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 19.6px */

	opacity: 0.8;

	@include extra-large {
		font-size: 18px;
	}
}

.chat-support__title {
	color: #fff;

	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 19.6px */

	margin-bottom: 8px;

	@include extra-large {
		font-size: 18px;
		margin-bottom: 20px;
	}
}

.chat-support__contact-list {
	flex-direction: row;
	gap: 16px;
	margin-bottom: 32px;

	@include medium {
		justify-content: flex-end;
	}

	@include tablet {
		justify-content: flex-start;
	}

	@include extra-large {
		gap: 24px;
	}
}

.payment-options__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 16px;
	justify-content: center;
	margin-bottom: 32px;

	@include tablet {
		justify-content: flex-start;
		margin-bottom: 22px;
	}

	@include extra-large {
		gap: 20px;
	}
}

.payment-options__item {
	@include extra-large {
		height: 40px;
	}
}

.footer__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;

	@include tablet {
		flex-direction: row;
		justify-content: flex-end;
	}

	@include tablet {
		gap: 8px;
	}
}

.footer__text {
	color: rgba(255, 255, 255, 1);

	/* Footer/Caption 2 Regular */
	font-family: Inter;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 15.4px */
	&-uppercase {
		text-transform: uppercase;
	}

	@include tablet {
		&:nth-child(2) {
			&::before {
				content: "•";
				margin-right: 8px;
			}
		}
	}

	@include extra-large {
		font-size: 15px;
	}
}
