footer {
	background-color: gray;
}

.footer__container {
	padding-top: 48px;
	padding-bottom: 12px;
}

.navigation__list {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 32px;
}

.navigation__link {
	color: #fff;

	/* Footer/Body Regular */
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 19.6px */
}

.contact-section__title {
	color: #fff;

	/* Footer/Subtitle Semi Bold */
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%; /* 22.4px */

	margin-bottom: 18px;
}

.contact-list {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 16px;
}

.contact-list__item {
	color: #fff;

	/* Footer/Body Regular */
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 19.6px */

	opacity: 0.8;
}

.chat-support__title {
	color: #fff;

	/* Footer/Body Regular */
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 19.6px */

	margin-bottom: 8px;
}

.chat-support__contact-list {
	flex-direction: row;
	gap: 16px;
	margin-bottom: 32px;
}

.payment-options__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 16px;
	justify-content: center;
	margin-bottom: 32px;
}

.footer__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
}

.footer__text {
	color: #fff;

	/* Footer/Caption 2 Regular */
	font-family: Inter;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 15.4px */
	&-uppercase {
		text-transform: uppercase;
	}
}
