header {
	background: #131212;
	background-image: url("/bg-general.svg");
	// z-index: -2;
	// position: relative;

	// &::after {
	// 	content: "";
	// 	background-image: url("/bats-bg.svg");
	// 	height: 279px;
	// 	position: absolute;
	// 	bottom: -15px;
	// 	left: 0;
	// 	width: 100%;
	// 	opacity: 0.7;
	// 	background-size: cover;
	// 	// z-index: -1;
	// }
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
	padding-bottom: 8px;

	@include medium {
		padding-top: 44px;
	}
}

.menu__action {
	display: inline-flex;
	padding: 9px 24px;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border-radius: 5px;
	border: 2px solid #fff;
}

.menu__login-link {
	// @include small {
	color: #fff;
	text-align: center;
	/* Body 1/Medium */
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%; /* 22.4px */
	// }

	@include medium {
	}

	@include tablet {
	}

	@include desktop {
	}

	@include large {
	}

	@include extra-large {
	}
}

.header-content {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 16px;
	padding-bottom: 16px;
	@include medium {
		padding-top: 24px;
		padding-bottom: 24px;
	}
}

.header-content__title {
	// @include small {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; /* 28.8px */

	margin-bottom: 7px;
	// }

	@include medium {
		font-size: 24px;

		margin-bottom: 8px;
	}

	@include tablet {
	}

	@include desktop {
	}

	@include large {
	}

	@include extra-large {
	}
}

.header-content__image {
	display: flex;
	flex-shrink: 0;

	// border-radius: 0.776px;
	// border: 1.551px solid #020202;

	margin: 0 auto 20px auto;
}

.header-content__text {
	// @include small {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 21px */

	margin-bottom: 24px;
	// }

	@include medium {
	}

	@include tablet {
	}

	@include desktop {
	}

	@include large {
	}

	@include extra-large {
	}
}

.header-content__link {
	// @include small {
	display: inline-flex;
	padding: 14px;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border-radius: 5px;
	background: #fc3232;

	color: #fff;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%; /* 21px */
	// }

	@include medium {
	}

	@include tablet {
	}

	@include desktop {
	}

	@include large {
	}

	@include extra-large {
	}
}
