.pricing__container {
	padding-top: 20px;
	padding-bottom: 33px;
}

.pricing__frame {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 18px 16px 33px 16px;
	width: 100%;
	height: fit-content;
	// height: 540px;
	// position: relative;
	// height: auto;

	// border: 2px solid green;
	border-radius: 12px;
	outline: 2px solid red;

	// background-image: url("/src/images/pricing-images/pricing-frame.svg");
	background-position: center center;
	background-repeat: no-repeat;
	// background-size: cover;
	// background-color: black;
}

.pricing__image {
	width: 40px;
	height: 50px;
	// display: block;
	// margin-bottom: 17px;
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
}

.pricing__price {
	display: flex;

	justify-content: center;
	align-items: baseline;

	margin-bottom: 16px;

	color: #fff;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 100% */
	text-transform: uppercase;

	@include medium {
	}

	@include tablet {
	}

	@include desktop {
	}

	@include large {
	}

	@include extra-large {
	}
}
.pricing__price--highlighted {
	color: #ff1f1f;
	font-family: Inter;
	font-size: 67px;
	font-style: normal;
	font-weight: 600;
	line-height: 67px; /* 100% */

	@include medium {
	}

	@include tablet {
	}

	@include desktop {
	}

	@include large {
	}

	@include extra-large {
	}
}

.pricing__discount {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 21px */

	margin-bottom: 24px;
	@include medium {
	}

	@include tablet {
	}

	@include desktop {
	}

	@include large {
	}

	@include extra-large {
	}
}

.pricing__features {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	margin-bottom: 32px;
}

.pricing__feature {
	display: flex;
	align-items: center;
	gap: 16px;

	color: #fff;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.3px;

	&::before {
		content: "";
		width: 24px;
		height: 24px;
		background-image: url("/src/images/pricing-images/pricing-list-icon.svg");
	}

	@include medium {
	}

	@include tablet {
	}

	@include desktop {
	}

	@include large {
	}

	@include extra-large {
	}
}

.pricing__form {
	display: flex;
	flex-direction: column;
	gap: 16px;

	width: 100%;
}

.pricing__input {
	display: flex;
	padding: 15px 16px;
	align-items: center;
	gap: 10px;

	border-radius: 5px;
	border: 1px solid #d0d0d1;
	opacity: 0.9;
	background: #fff;

	// margin-bottom: 16px;

	// width: inherit;

	&::placeholder {
		color: rgba(60, 60, 67, 0.6);
		font-feature-settings: "clig" off, "liga" off;
		font-family: Inter;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 23px; /* 153.333% */
		letter-spacing: 0.15px;

		opacity: 0.9;
	}
	@include medium {
	}

	@include tablet {
	}

	@include desktop {
	}

	@include large {
	}

	@include extra-large {
	}
}

.pricing__button {
	display: flex;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border-radius: 5px;
	background: #ff1f1f;

	color: #fff;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	@include medium {
	}

	@include tablet {
	}

	@include desktop {
	}

	@include large {
	}

	@include extra-large {
	}
}
